NOWPAYMENTS_API_KEY=
NOWPAYMENTS_PUBLIC_KEY=
NOWPAYMENTS_IPN_SECRET=
NOWPAYMENTS_VERIFY_IPN=false
NOWPAYMENTS_BASE_URL=https://api-sandbox.nowpayments.io/v1
NOWPAYMENTS_MODE=sandbox

ARCOX_PAY_BASE_URL=https://arc-dex-bice.vercel.app
ARCOX_DEFAULT_PAY_CURRENCY=usdcbase
ARCOX_DEFAULT_PRICE_CURRENCY=usd
ARCOX_ARC_TREASURY_ADDRESS=
ARCOX_BASE_TREASURY_ADDRESS=
ARCOX_SANDBOX_NOWPAYMENTS_DESTINATION_ADDRESS=0xSANDBOX_NOWPAYMENTS_DESTINATION

CIRCLE_API_KEY=
CIRCLE_BASE_URL=https://api-sandbox.circle.com
CIRCLE_ENV=TEST
CIRCLE_VERIFY_WEBHOOK=false
